.sticky {
  width: 100%;
}
h1, p, a, h4, h3, h2 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
iframe {display: block; margin: 0 auto;}

/*Navigation Bar*/
.title-bar {
  background: #333;
  padding: 0.9rem;
  font-size: 20px;
}
.top-bar {
  background: #333;
  padding: 0px;
}
  .top-bar ul {
    background: #333;
    padding: 0;
}
    .top-bar ul li {
      font-size: 20px;
      background: #333;
      padding-bottom: px;
}
      .top-bar ul li a {
        font-size: 20px;
        color: #fff; 
        transition: all .5s ease;
}
.top-bar ul li a:hover {
    background-color: dodgerblue;
}
.menu-text {
  color: #fff; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; } }

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e; }

  .menu:first-child {
    border-left: none; }

  .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }


/*Header*/
.hero {
  background: url('../pics/water-blue-ocean.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .hero:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .hero .intro {
        top: 55%;
    }
}

  .hero h1 {
    color: #fff;
    font-size: 80px;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 40px;
}
/*
  .hero .tech-img {
    background: url('../pics/logoinhisimage.gif') no-repeat center center;
    background-size: cover;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto; }
*/

// Small screens
@media only screen { } /* Define mobile styles */
@media only screen and (max-width: 40em) { 
    .hero h1 {
        font-size: 1.5rem;
    }
    .hero p {font-size:16px;}
    iframe {
        display: none;
        opacity: ;
    }
    .hero .tech-img {
        height: 9rem;
        width: 9rem;
    }
}
h4 {
    text-align: center;
}

.button {
  color: transparent;
  font-size: .rem;
  letter-spacing: 5px;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, pink, skyblue);
  border-image-slice: 1;
  background: linear-gradient(45deg, pink, skyblue);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.2s ease;
}
  .button:hover {
    border-image: linear-gradient(45deg, #2ecc71, dodgerblue);
    background: linear-gradient(45deg, #2ecc71, dodgerblue); 
}

/*Slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Pictures for services*/
.block {
    height: 100px;
    margin: 10px auto;
}


/*Pictures for services*/
.block {
    height: 100px;
    margin: 10px auto;
}

/*Announcements*/
.event {
  padding: 1rem 1rem 1rem 0;
  display: table; }

.event-date {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto; }
  .event-date .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center; }
  .event-date .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem; }

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top; }
  .event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0; }
  .event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0; }
  .event-desc .event-desc-time {
    font-weight: bold; }
  .event-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; 
    font-size: 14px;
}
/*Footer*/
footer {
    text-align: center;
    background: url('../pics/water-blue-ocean.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 10px;
}

.block {margin: 10px auto;}
/*Social Media icons*/
i {
  font-size: 2.5rem; }

.icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: white; }
  .icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s; }
  .icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem; }
  .icon-button i {
    background: none;
    height: 3.6rem;
    width: 3.6rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    line-height: 3.6rem;
    transition: all 0.3s; }

.youtube span {
  background-color: red; }

.facebook span {
  background-color: #3B5998; }

.gplus span {
  background-color: #db5a3c; }

.icon-button .fi-social-youtube {
  color: red; }

.icon-button .fi-social-facebook {
  color: #3b5998; }

.icon-button .fi-social-google-plus {
  color: #db5a3c; }

.icon-button:hover .fi-social-youtube, .icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-google-plus {
  color: white;
  font-size: 2.6rem;
  line-height: 3.9rem; }

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {iframe {display:none;}}
