h1, p, a, h4, h3, h2, h5, input, form {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
/*Navigation Bar*/
.title-bar {
  background: #333;
  padding: 0.9rem;
  font-size: 20px;
}

.top-bar {
  background: #333;
  padding: 0px;
}
  .top-bar ul {
    background: #333;
    padding: 0;
}
    .top-bar ul li {
      font-size: 20px;
      background: #333;
      padding-bottom: px;
}
      .top-bar ul li a {
        font-size: 20px;
        color: #fff; 
        transition: all 0.5s ease;
}
.top-bar ul li a:hover {
    background-color: dodgerblue;
}
.menu-text {
  color: #fff; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; } }

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e; }

  .menu:first-child {
    border-left: none; }

  .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }

/*Header*/
.hero {
  background: url('../pics/water-blue-ocean.jpg') no-repeat center center;
  background-size: cover;
  height: 50vh; }
  .hero:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 50px;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
  .hero .tech-img {
  @media only screen and (min-width: 40.063em) {
    .hero .tech-img {
      height: 18rem;
      width: 18rem; }
    .hero h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem; }
    .hero p {
        text-align: right; } }}
/*Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
    .hero h1 {
        font-size: 1.5em;
    }
}

/*Social Media icons*/
i {
  font-size: 2.5rem; }

.icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: white; }
  .icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s; }
  .icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem; }
  .icon-button i {
    background: none;
    height: 3.6rem;
    width: 3.6rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    line-height: 3.6rem;
    transition: all 0.3s; }

.youtube span {
  background-color: red; }

.facebook span {
  background-color: #3B5998; }

.gplus span {
  background-color: #db5a3c; }

.icon-button .fi-social-youtube {
  color: red; }

.icon-button .fi-social-facebook {
  color: #3b5998; }

.icon-button .fi-social-google-plus {
  color: #db5a3c; }

.icon-button:hover .fi-social-youtube, .icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-google-plus {
  color: white;
  font-size: 2.6rem;
  line-height: 3.9rem; }

/*Contact Form*/
input[type=submit] {
    padding: 10px;
    width: 200px;
    border-radius: 5%;
    background-color: white;
    color: dodgerblue;
    transition: all 0.5s ease;
}
input[type=submit]:hover{
    background-color: dodgerblue;
    color: white;
    transition: all 0.5s ease;
}
label {
    font-size:18px;
}
#message {
    padding-bottom: 100px;
}
form {display: block; margin: 0 auto;}
/*iframe and more responsive stuff*/
iframe {
    display: block;
    margin: 10px auto;
}
/*Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
.form .row .block h1, p, h4, i{
    text-align: center;
  }
    iframe {display: none;}
    #sm {
        text-align: left;
    }
}


/*Footer*/
footer {
    text-align: center;
    background: url('../pics/water-blue-ocean.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 10px;
}