/*Footer*/
footer {
    text-align: center;
    background: url('../pics/water-blue-ocean.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 10px;
}
h1, p, a, h4, h3, h2, h5 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;}


/*Navigation Bar*/
.title-bar {
  background: #333;
  padding: 0.9rem;
  font-size: 20px;
}

.top-bar {
  background: #333;
  padding: 0px;
}
  .top-bar ul {
    background: #333;
    padding: 0;
}
    .top-bar ul li {
      font-size: 20px;
      background: #333;
      padding-bottom: px;
}
      .top-bar ul li a {
        font-size: 20px;
        color: #fff;
        transition: all 0.5s ease;}
.top-bar ul li a:hover {
    background-color: dodgerblue;
}
.menu-text {
  color: #fff; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; } }

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e; }

  .menu:first-child {
    border-left: none; }

  .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }

/*Header*/
.hero {
  background: url('../pics/water-blue-ocean.jpg') no-repeat center center;
  background-size: cover;
  height: 50vh; }
  .hero:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 50px;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
  .hero .tech-img {
  @media only screen and (min-width: 40.063em) {
    .hero .tech-img {
      height: 18rem;
      width: 18rem; }
    .hero h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem; }
    .hero p {
        text-align: right; } 
}}
// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
    .hero h1 {
        font-size: 1.5rem;
    }
}
p, h3, h4, h5 {
    text-align: center;
}
iframe {
    display: block;
    margin: 10px auto;
}

/*Event style*/ 
// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
    iframe {
        display: block;
        margin: 10px auto;
        width: 310px;
    }
}
