.content .cell {
  height: 900px;
  margin: 5px;
}

.living {
  padding-top: 7%;
}

.living img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content h2 {
  font-family: 'Quintessential', cursive;
  color: #ff0909fd;
}

.picOne {
  background: url('../photos/flyer.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picTwo {
  background: url('../photos/ribbonCut.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.living h4 {
  font-family: 'Quintessential', cursive;
  text-align: center;
  box-shadow: none;
}
